$primary-color: #1f6db6;
$white-color: rgb(243, 244, 245);
$black-color: rgb(50, 50, 50);
$gray-color: rgb(59, 59, 59);
$header-elements-background: rgb(248, 248, 248);
$max-image-height: 100vh;
$default-text-size: 1.1rem;
$title-text-size: 2.5rem;
$font: 'Inter', sans-serif;
$big-font: 'Inter', sans-serif;
$font-thin-weight: 400;
$font-regular-weight: 500;
$font-bold-weight: 700;
$parraf-width: 75ch;
$query-width: 766px;
$query-width-mid: 530px;
$query-width-min: 280px;